**/.circleci
**/.editorconfig
**/.dockerignore
**/.git
**/.DS_Store
**/.vscode
**/node_modules

# Specific patterns to ignore
data-node
meili_data*
librechat*
Dockerfile*
docs

# Ignore specific hidden files and directories
.git
.gitignore
.gitattributes
.DS_Store
.vscode
.idea
.editorconfig
.eslintrc*
.prettierrc*
.dockerignore
.circleci

# Allow .env files for Docker builds
!.env*
